<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <base href="https://ayasuda.github.io/">
    <title>ayasuda.github.io</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138223597-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-138223597-1');
    </script>
  </head>
  <body>
    <header>
      <h1><a href="/">ayasuda.github.io</a></h1>
    </header>
    <article class="index">
      <ul>
        <% pages.each do |page| %>
          <li>
            <a href="<%= page.path %>"><%= page.title %></a>
            <div class="published"><%= page.to_date %></div>
            <p><%= page.description %></p>
            <ul class="keywords">
              <% page.keywords.each do |keyword| %>
                <li><%= keyword %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </article>
  </body>
</html>
